# Project 01 - Data Processing

## Step 6 - Manually Join Tables

In [1]:
import datetime
import numpy as np
import pandas as pd
pd.__version__

'1.2.5'

In [2]:
BASE_PATH = "./data/jh_covid19/csse_covid_19_data/csse_covid_19_daily_reports/"
BASE_PATH_WB = "./data/world_bank/"
BASE_PATH_OUT = "./data/output/"

In [3]:
df_src = pd.read_csv(BASE_PATH_OUT + 'covid_data_v3.csv')
df_src['Date']= pd.to_datetime(df_src['Date'])
df_src

,Country Region Name,Confirmed,Deaths,Date,Country Code,New Confirmed,New Deaths,Fatality Ratio
0,Afghanistan,5.0,0.0,2020-02-24,AFG,5.0,0.0,0.000000
1,Afghanistan,5.0,0.0,2020-02-25,AFG,0.0,0.0,0.000000
2,Afghanistan,5.0,0.0,2020-02-26,AFG,0.0,0.0,0.000000
3,Afghanistan,5.0,0.0,2020-02-27,AFG,0.0,0.0,0.000000
4,Afghanistan,5.0,0.0,2020-02-28,AFG,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...
151971,Zimbabwe,251646.0,5498.0,2022-05-26,ZWE,418.0,2.0,0.021848
151972,Zimbabwe,251959.0,5500.0,2022-05-27,ZWE,313.0,2.0,0.021829
151973,Zimbabwe,251959.0,5500.0,2022-05-28,ZWE,0.0,0.0,0.021829
151974,Zimbabwe,252092.0,5500.0,2022-05-29,ZWE,133.0,0.0,0.021817
151975,Zimbabwe,252092.0,5500.0,2022-05-30,ZWE,0.0,0.0,0.021817

### 6.1 Generate Formal Country Name Map

In [4]:
df_countries = pd.read_csv(BASE_PATH_WB + 'WDICountry.csv')
df_countries.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [5]:
country_map_by_code = {}
country_code_list = df_countries['Country Code'].unique()
country_code_list

array(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE',
       'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN',
       'CEB', 'CHE', 'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR',
       'EAS', 'ECA', 'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST',
       'ETH', 'EUU', 'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB',
       'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC',
       'HRV', 'HTI', 'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX',
       'IMN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM',
       'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR',
       'KWT', 'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN', 'LDC',
       'LIC', 'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU', 'LUX',
       'LVA', 'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEA',
       'MEX', 'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA', 'MNE',
       'MNG', 'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC', 'NAM',
       'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL',
       'OED', 'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG',
       'POL', 'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS', 'PST',
       'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN', 'SEN',
       'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA', 'SSD',
       'SSF', 'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SXM',
       'SYC', 'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA', 'TJK',
       'TKM', 'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO', 'TUN',
       'TUR', 'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA', 'UZB',
       'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM', 'XKX',
       'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [6]:
df_countries[df_countries['Country Code'] == 'GBR'].iloc[0]['Short Name']

'United Kingdom'

In [7]:
for i in range(len(country_code_list)):
    current_country_code = country_code_list[i]
    current_country_name = df_countries[df_countries['Country Code'] == current_country_code].iloc[0]['Short Name']
    country_map_by_code[current_country_code] = current_country_name

In [8]:
country_map_by_code['GBR']

'United Kingdom'

### 6.2 Generate Life Expectancy Map

In [9]:
df_wdi = pd.read_csv(BASE_PATH_WB + 'WDIData.csv')
df_wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.936004,17.337896,17.687093,18.140971,18.491344,18.825520,19.272212,19.628009,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN,NaN

In [10]:
df_wdi[(df_wdi['Country Code'] == 'GBR') & (df_wdi['Indicator Code'] == 'SP.DYN.LE00.IN')].iloc[0]['2020']

80.9024390243903

In [11]:
life_expectancy_map = {}
for i in range(len(country_code_list)):
    current_country_code = country_code_list[i]
    current_country_name = df_wdi[(df_wdi['Country Code'] == current_country_code) & (df_wdi['Indicator Code'] == 'SP.DYN.LE00.IN')].iloc[0]['2020']
    life_expectancy_map[current_country_code] = current_country_name

In [12]:
life_expectancy_map['GBR']

80.9024390243903

### 6.3 Generate Total Population Map

In [13]:
df_wdi[(df_wdi['Country Code'] == 'GBR') & (df_wdi['Indicator Code'] == 'SP.POP.TOTL')].iloc[0]['2020']

67215293.0

In [14]:
total_population_map = {}
for i in range(len(country_code_list)):
    current_country_code = country_code_list[i]
    current_country_name = df_wdi[(df_wdi['Country Code'] == current_country_code) & (df_wdi['Indicator Code'] == 'SP.POP.TOTL')].iloc[0]['2020']
    total_population_map[current_country_code] = current_country_name

In [15]:
total_population_map['GBR']

67215293.0

### 6.4 Manually Join Tables

In [16]:
df_src['Country Name'] = df_src['Country Code'].map(country_map_by_code)
df_src['Life Expectancy'] = df_src['Country Code'].map(life_expectancy_map)
df_src['Total Population'] = df_src['Country Code'].map(total_population_map)
df_src

,Country Region Name,Confirmed,Deaths,Date,Country Code,New Confirmed,New Deaths,Fatality Ratio,Country Name,Life Expectancy,Total Population
0,Afghanistan,5.0,0.0,2020-02-24,AFG,5.0,0.0,0.000000,Afghanistan,65.173,38928341.0
1,Afghanistan,5.0,0.0,2020-02-25,AFG,0.0,0.0,0.000000,Afghanistan,65.173,38928341.0
2,Afghanistan,5.0,0.0,2020-02-26,AFG,0.0,0.0,0.000000,Afghanistan,65.173,38928341.0
3,Afghanistan,5.0,0.0,2020-02-27,AFG,0.0,0.0,0.000000,Afghanistan,65.173,38928341.0
4,Afghanistan,5.0,0.0,2020-02-28,AFG,0.0,0.0,0.000000,Afghanistan,65.173,38928341.0
...,...,...,...,...,...,...,...,...,...,...,...
151971,Zimbabwe,251646.0,5498.0,2022-05-26,ZWE,418.0,2.0,0.021848,Zimbabwe,61.738,14862927.0
151972,Zimbabwe,251959.0,5500.0,2022-05-27,ZWE,313.0,2.0,0.021829,Zimbabwe,61.738,14862927.0
151973,Zimbabwe,251959.0,5500.0,2022-05-28,ZWE,0.0,0.0,0.021829,Zimbabwe,61.738,14862927.0
151974,Zimbabwe,252092.0,5500.0,2022-05-29,ZWE,133.0,0.0,0.021817,Zimbabwe,61.738,14862927.0
151975,Zimbabwe,252092.0,5500.0,2022-05-30,ZWE,0.0,0.0,0.021817,Zimbabwe,61.738,14862927.0

In [17]:
# validate
life_expectancy_map['AFG']

65.173

In [18]:
life_expectancy_map['ZWE']

61.738

In [19]:
total_population_map['AFG']

38928341.0

In [20]:
total_population_map['ZWE']

14862927.0

### 6.5 Build Final Table

In [21]:
df_output = df_src[['Country Code', 'Country Name', 'Date', 'Confirmed', 'Deaths', 'New Confirmed', 'New Deaths', 'Fatality Ratio', 'Life Expectancy', 'Total Population']]
df_output

,Country Code,Country Name,Date,Confirmed,Deaths,New Confirmed,New Deaths,Fatality Ratio,Life Expectancy,Total Population
0,AFG,Afghanistan,2020-02-24,5.0,0.0,5.0,0.0,0.000000,65.173,38928341.0
1,AFG,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
2,AFG,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
3,AFG,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
4,AFG,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.000000,65.173,38928341.0
...,...,...,...,...,...,...,...,...,...,...
151971,ZWE,Zimbabwe,2022-05-26,251646.0,5498.0,418.0,2.0,0.021848,61.738,14862927.0
151972,ZWE,Zimbabwe,2022-05-27,251959.0,5500.0,313.0,2.0,0.021829,61.738,14862927.0
151973,ZWE,Zimbabwe,2022-05-28,251959.0,5500.0,0.0,0.0,0.021829,61.738,14862927.0
151974,ZWE,Zimbabwe,2022-05-29,252092.0,5500.0,133.0,0.0,0.021817,61.738,14862927.0
151975,ZWE,Zimbabwe,2022-05-30,252092.0,5500.0,0.0,0.0,0.021817,61.738,14862927.0

In [22]:
df_output.to_csv(BASE_PATH_OUT + "covid_data_v4.csv", date_format='%m/%d/%Y', index=False)