# Project 02 - Data Processing

## Step 6 - Generate Country Data

In [1]:
import datetime
import numpy as np
import pandas as pd
pd.__version__

'1.2.5'

In [2]:
BASE_PATH = "./data/jh_covid19/csse_covid_19_data/csse_covid_19_daily_reports/"
BASE_PATH_WB = "./data/world_bank/"
BASE_PATH_WHO = "./data/who/"
BASE_PATH_OUT = "./data/output/"

In [3]:
df_countries = pd.read_csv(BASE_PATH_WB + 'WDICountry.csv')
df_countries.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [4]:
df_statistic = pd.read_csv(BASE_PATH_WB + 'WDIData.csv')
df_statistic.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.559819,16.936004,17.337896,17.687092,18.140971,18.491344,18.825520,19.272212,19.628009,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.281667,6.499471,6.680066,6.859110,7.016238,7.180364,7.322294,7.517191,7.651598,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.601816,37.855399,38.046781,38.326255,38.468426,38.670044,38.722783,38.927016,39.042839,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,19.402592,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.641760,30.404935,NaN

In [5]:
df_vaccination = pd.read_csv(BASE_PATH_WHO + 'vaccination-data.csv')
df_vaccination.head()

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
0,Afghanistan,AFG,EMRO,REPORTING,2022-06-30,6445359.0,5713284.0,16.557,14.676,5064430.0,13.010,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-22,11.0,NaN,NaN
1,Albania,ALB,EURO,REPORTING,2022-06-26,2906126.0,1326545.0,101.000,46.612,1248781.0,43.879,"AstraZeneca - Vaxzevria,Gamaleya - Gam-Covid-V...",2021-01-13,5.0,324545.0,11.404
2,Algeria,DZA,AFRO,REPORTING,2022-06-26,15205854.0,7840131.0,34.676,17.879,6481186.0,14.780,"Beijing CNBG - BBIBP-CorV,Gamaleya - Gam-Covid...",2021-01-30,4.0,514063.0,1.172
3,American Samoa,ASM,WPRO,REPORTING,2022-06-13,109458.0,44579.0,198.304,80.763,41150.0,74.551,"Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfiz...",2020-12-21,3.0,23484.0,42.546
4,Andorra,AND,EURO,REPORTING,2022-06-26,153383.0,57886.0,198.500,75.989,53456.0,70.173,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2021-01-20,3.0,42041.0,55.189

In [6]:
df_data = pd.read_csv(BASE_PATH_OUT + 'covid_data_v5.csv')
df_data['Date']= pd.to_datetime(df_data['Date'])
df_data

,Date,Country Code,7 Day Avg New Confirmed,7 Day Avg New Deaths,7 Day Avg Fatality Ratio
0,2020-04-27,AFG,143.714286,3.285714,0.031625
1,2020-05-04,AFG,276.142857,6.714286,0.029203
2,2020-05-11,AFG,319.000000,7.142857,0.025618
3,2020-05-18,AFG,576.142857,7.571429,0.022492
4,2020-05-25,AFG,644.571429,4.571429,0.018243
...,...,...,...,...,...
19615,2022-04-25,ZWE,55.285714,0.142857,0.022072
19616,2022-05-02,ZWE,63.000000,1.000000,0.022054
19617,2022-05-09,ZWE,122.000000,0.857143,0.022021
19618,2022-05-16,ZWE,288.857143,2.000000,0.021932
19619,2022-05-23,ZWE,198.571429,0.714286,0.021860

In [7]:
df_covid = pd.read_csv(BASE_PATH_OUT + 'covid_data_v4.csv')
df_covid['Date']= pd.to_datetime(df_covid['Date'])
df_covid.head()

,Country Code,Country Name,Date,Confirmed,Deaths,New Confirmed,New Deaths,Fatality Ratio,Life Expectancy,Total Population
0,AFG,Afghanistan,2020-02-24,5.0,0.0,5.0,0.0,0.0,65.173,38928341.0
1,AFG,Afghanistan,2020-02-25,5.0,0.0,0.0,0.0,0.0,65.173,38928341.0
2,AFG,Afghanistan,2020-02-26,5.0,0.0,0.0,0.0,0.0,65.173,38928341.0
3,AFG,Afghanistan,2020-02-27,5.0,0.0,0.0,0.0,0.0,65.173,38928341.0
4,AFG,Afghanistan,2020-02-28,5.0,0.0,0.0,0.0,0.0,65.173,38928341.0

In [8]:
country_map_by_code = {}
country_code_list = df_data['Country Code'].unique()
country_code_list

array(['AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS',
       'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR',
       'BHS', 'BIH', 'BLR', 'BLZ', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN',
       'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD',
       'COG', 'COL', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU', 'DJI',
       'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST',
       'ETH', 'FIN', 'FJI', 'FRA', 'GAB', 'GBR', 'GEO', 'GHA', 'GIN',
       'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUY', 'HND', 'HRV',
       'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR',
       'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR',
       'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LIE', 'LKA', 'LTU',
       'LUX', 'LVA', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD',
       'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT', 'MUS', 'MWI',
       'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NZL',
       'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW', 'PNG', 'POL', 'PRT',
       'PRY', 'PSE', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN',
       'SGP', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSD', 'SUR', 'SVK',
       'SVN', 'SWE', 'SWZ', 'SYC', 'SYR', 'TCD', 'TGO', 'THA', 'TLS',
       'TON', 'TTO', 'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA',
       'UZB', 'VEN', 'VNM', 'WSM', 'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'],
      dtype=object)

In [9]:
df_result = pd.DataFrame(country_code_list, columns=['Country Code'])
df_result

    Country Code
0            AFG
1            AGO
2            ALB
3            AND
4            ARE
..           ...
175          XKX
176          YEM
177          ZAF
178          ZMB
179          ZWE

[180 rows x 1 columns]

In [10]:
col_country_names = []

for i in range(len(country_code_list)):
    current_value = df_countries[df_countries['Country Code'] == country_code_list[i]]
    col_country_names.append(current_value.iloc[0]['Short Name'])
    
# np.array(col_country_names)
len(col_country_names)

180

In [11]:
col_fatality_rate = []

for i in range(len(country_code_list)):
    current_value = df_data[(df_data['Date'] == datetime.datetime.strptime('2022-05-23', '%Y-%m-%d')) & (df_data['Country Code'] == country_code_list[i])]
    col_fatality_rate.append(current_value.iloc[0]['7 Day Avg Fatality Ratio'])
    
# np.array(col_fatality_rate)
len(col_fatality_rate)

180

In [12]:
col_confirmed_cases = []

for i in range(len(country_code_list)):
    current_value = df_covid[(df_covid['Date'] == datetime.datetime.strptime('2022-05-30', '%Y-%m-%d')) & (df_covid['Country Code'] == country_code_list[i])]
    col_confirmed_cases.append(current_value.iloc[0]['Confirmed'])
    
# np.array(col_confirmed_cases)
len(col_confirmed_cases)

180

In [13]:
col_first_vaccinated = []

for i in range(len(country_code_list)):
    current_value = df_vaccination[df_vaccination['ISO3'] == country_code_list[i]]
    col_first_vaccinated.append(current_value.iloc[0]['FIRST_VACCINE_DATE'])
    
# np.array(col_first_vaccinated)
len(col_first_vaccinated)

180

In [14]:
col_vaccinated_1shot_per100 = []

for i in range(len(country_code_list)):
    current_value = df_vaccination[df_vaccination['ISO3'] == country_code_list[i]]
    col_vaccinated_1shot_per100.append(current_value.iloc[0]['TOTAL_VACCINATIONS_PER100'])
    
# np.array(col_vaccinated_1shot_per100)
len(col_vaccinated_1shot_per100)

180

In [15]:
col_vaccinated_2shot_per100 = []

for i in range(len(country_code_list)):
    current_value = df_vaccination[df_vaccination['ISO3'] == country_code_list[i]]
    col_vaccinated_2shot_per100.append(current_value.iloc[0]['PERSONS_VACCINATED_1PLUS_DOSE_PER100'])
    
# np.array(col_vaccinated_2shot_per100)
len(col_vaccinated_2shot_per100)

180

In [16]:
col_vaccinated_3shot_per100 = []

for i in range(len(country_code_list)):
    current_value = df_vaccination[df_vaccination['ISO3'] == country_code_list[i]]
    col_vaccinated_3shot_per100.append(current_value.iloc[0]['PERSONS_FULLY_VACCINATED_PER100'])
    
# np.array(col_vaccinated_3shot_per100)
len(col_vaccinated_3shot_per100)

180

In [17]:
df_result['Country Name'] = col_country_names
df_result['Total Confirmed'] = col_confirmed_cases
df_result['Fatality Rate'] = col_fatality_rate
df_result['First Vaccination Date'] = col_first_vaccinated
df_result['1 Shot Per 100'] = col_vaccinated_1shot_per100
df_result['2 Shots Per 100'] = col_vaccinated_2shot_per100
df_result['3 Shots Per 100'] = col_vaccinated_3shot_per100

df_result

,Country Code,Country Name,Total Confirmed,Fatality Rate,First Vaccination Date,1 Shot Per 100,2 Shots Per 100,3 Shots Per 100
0,AFG,Afghanistan,180259.0,0.042789,2021-02-22,16.557,14.676,13.010
1,AGO,Angola,99761.0,0.019099,2021-03-10,62.061,40.022,21.686
2,ALB,Albania,276101.0,0.012670,2021-01-13,101.000,46.612,43.879
3,AND,Andorra,42894.0,0.003575,2021-01-20,198.500,75.989,70.173
4,ARE,United Arab Emirates,907824.0,0.002540,NaN,251.982,101.018,99.008
...,...,...,...,...,...,...,...,...
175,XKX,Kosovo,228353.0,0.013747,2021-03-31,101.900,50.302,45.842
176,YEM,Yemen,11822.0,0.181826,2021-04-20,2.899,2.340,1.496
177,ZAF,South Africa,3954971.0,0.025627,2021-02-17,61.981,39.272,34.257
178,ZMB,Zambia,321503.0,0.012399,2021-04-14,20.400,25.330,15.967
179,ZWE,Zimbabwe,252092.0,0.021860,2021-02-18,79.056,42.210,31.036

In [18]:
df_vaccination[df_vaccination['ISO3'] == country_code_list[i]]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
228,Zimbabwe,ZWE,AFRO,REPORTING,2022-06-26,11750094.0,6273637.0,79.056,42.21,4612821.0,31.036,"Beijing CNBG - BBIBP-CorV,Bharat - Covaxin,Gam...",2021-02-18,4.0,863636.0,5.811

In [19]:
df_vaccination[df_vaccination['ISO3'] == 'ARE']

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED,PERSONS_BOOSTER_ADD_DOSE,PERSONS_BOOSTER_ADD_DOSE_PER100
217,United Arab Emirates,ARE,EMRO,REPORTING,2022-06-28,24922054.0,9991089.0,251.982,101.018,9792266.0,99.008,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",NaN,11.0,5138699.0,51.956

In [20]:
import math

df_result[df_result['Fatality Rate'].isnull()]

Empty DataFrame
Columns: [Country Code, Country Name, Total Confirmed, Fatality Rate, First Vaccination Date, 1 Shot Per 100, 2 Shots Per 100, 3 Shots Per 100]
Index: []

In [21]:
df_result = df_result.sort_values(by=["Country Code"]).reset_index(drop=True)

df_result.to_csv(BASE_PATH_OUT + "country_data_v2.csv", date_format='%m/%d/%Y', index=False)

In [22]:
df_val = pd.read_csv(BASE_PATH_OUT + 'country_data_v2.csv')
df_val

,Country Code,Country Name,Total Confirmed,Fatality Rate,First Vaccination Date,1 Shot Per 100,2 Shots Per 100,3 Shots Per 100
0,AFG,Afghanistan,180259.0,0.042789,2021-02-22,16.557,14.676,13.010
1,AGO,Angola,99761.0,0.019099,2021-03-10,62.061,40.022,21.686
2,ALB,Albania,276101.0,0.012670,2021-01-13,101.000,46.612,43.879
3,AND,Andorra,42894.0,0.003575,2021-01-20,198.500,75.989,70.173
4,ARE,United Arab Emirates,907824.0,0.002540,NaN,251.982,101.018,99.008
...,...,...,...,...,...,...,...,...
175,XKX,Kosovo,228353.0,0.013747,2021-03-31,101.900,50.302,45.842
176,YEM,Yemen,11822.0,0.181826,2021-04-20,2.899,2.340,1.496
177,ZAF,South Africa,3954971.0,0.025627,2021-02-17,61.981,39.272,34.257
178,ZMB,Zambia,321503.0,0.012399,2021-04-14,20.400,25.330,15.967
179,ZWE,Zimbabwe,252092.0,0.021860,2021-02-18,79.056,42.210,31.036